@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities; 

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Default styles for larger screens */
h1 {
  font-size: 8vw;
}

.title {
  font-weight: 500;
}

.subtitle {
  font-size: 5vw;
}

.section-divider {
  margin-top: -50px;
  margin-bottom: 100px;
  background-color: #d2d2d294;
  border: none;
  justify-self: center;
  height: 1px;
  width: 80%;
}

/* Media queries for section-divider */
@media (max-width: 768px) {
  .section-divider {
    margin-top: -30px;
    margin-bottom: 60px;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .section-divider {
    margin-top: -20px;
    margin-bottom: 40px;
    width: 95%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-shadow {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
}

.bg-image {
  position: absolute;
  top: -100px;
  opacity: 0.4;
  height: auto;
  pointer-events: none; /* Make sure images don't interfere with interactions */
}

@keyframes blink {
  50% {
    visibility: hidden;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Adjust image size and position for medium screens */
@media (max-width: 768px) {
  .bg-image {
    width: 150px; /* Adjust as needed */
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Adjust image size and position for smaller screens */
@media (max-width: 480px) {
  .bg-image {
    width: 100px; /* Adjust as needed */
  }
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
}

.fade-in-up.active {
  animation: fadeInUp 0.5s ease-out forwards;
  visibility: visible;
}

.scrollable-section {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #d2d2d294;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.authors {
  width: 70%;
}

/* Title animations */
.title.fade-in-up.active {
  animation: fadeInUp 0.5s ease-out forwards;
}

.subtitle.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  animation-delay: 0.1s; /* Wait for title to finish before starting */
}

.subtitle.fade-in-up.active {
  animation: fadeInUp 0.3s ease-out forwards;
  animation-delay: 0.5s; /* Keep consistent with the delay above */
}
