/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Default styles for larger screens */
h1 {
  font-size: 5rem; /* Adjust as needed */
}

/* Adjust font size for medium screens */
@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
}

/* Adjust font size for smaller screens */
@media (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-shadow {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
}

.bg-image {
  height: auto;
  pointer-events: none; /* Make sure images don't interfere with interactions */
}

.bg-image2 {
  opacity: 0.3; /* Adjust opacity as needed */
  height: auto;
  pointer-events: none; /* Make sure images don't interfere with interactions */
}

@keyframes blink {
  50% {
    visibility: hidden;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Default styles for larger screens */
.bg-image {
  width: 200px; /* Adjust as needed */
}



/* Adjust image size and position for medium screens */
@media (max-width: 768px) {
  .bg-image {
    width: 150px; /* Adjust as needed */
  }
}

img {
  max-width: 100%;
  height: auto;
}

/* Adjust image size and position for smaller screens */
@media (max-width: 480px) {
  .bg-image {
    width: 100px; /* Adjust as needed */
  }
}


.fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}

